body {
	height: 100%;
	overflow-x: hidden !important;
	overflow-y: auto;
	background-size: cover;
}

#heading,#city,#icon,#temp,#state {
	text-align: center;
	color: white;
}

#temp {
	text-align: left;
}

#wrapper {
	background-color: rgba(244,164,96,0.7);
}

#state {
	text-align: left;
}

i {
	color: white;
	font-size: 1em;
}